{% extends "layouts/base.html" %}

{% block title %}

<title>Ariel's Projects</title>

{% endblock %}


{% block content %}

<p><span style="text-shadow: rgba(136, 136, 136, 0.8) 3px 3px 3px; font-size: 36px;">Ariel&apos;s Projects</span>
</p>

<section id="projects">

    <p><u><span style="font-size: 20px; font-family: Comic Sans MS, sans-serif;">Public Releases</span></u></p>
    <ol>
        <li><a href="https://github.com/Ariel4545/text_editor" rel="noopener noreferrer" target="_blank">Egon text
            editor</a><sup>v1.12</sup></li>
        <li><a href="https://github.com/Ariel4545/Edata_science" rel="noopener noreferrer" target="_blank">Egon data
            science</a><sup>v0.24</sup></li>
        <ul type="square">
            <li>PandasGui</li>
            <li>NumpyGui</li>
            <li>Egon data visualization</li>
        </ul>
        <li><a href="https://github.com/Ariel4545/Ecalculators" rel="noopener noreferrer" target="_blank">Egon
            calculators</a><sup>v0.6</sup></li>
        <li><a href="https://github.com/Ariel4545/minecraft_clone" rel="noopener noreferrer" target="_blank">Minecraft
            clone</a><sup>v0.1</sup></li>
    </ol>
</section>

<section id="development">
    <p><u><span style="font-size: 20px; font-family: Comic Sans MS, sans-serif;">In Development / Pending</span></u></p>
    <ol>
        <li style="color: rgb(97, 189, 109);"><span style="font-size: 16px;">Image editor</span></li>
        <li style="color: rgb(235, 107, 86);"><span style="font-size: 16px;">Tower defence game</span></li>
        <li style="color: rgb(97, 189, 109);">Screen recorder</li>
        <li style="color: rgb(251, 160, 38);">Auto clicker</li>
        <li class="Please set custom CSS styles in Settings" style="color: rgb(251, 160, 38);">Discord bot</li>
    </ol>
    <p>(colors used to display the probability of the projects to come to light)</p>
</section>

<hr>

<section id="about">
    <h2><u>What is "Egon"?</u></h2>
    <p> Egon is my brand of software products that I created <br>
        in my free time to learn python and take my skills further. <br>
        I've ensured that Egon has excellent products and delivery, <br>
        and I'm updating them when I have free time (: </p>
</section>

<hr>

<section id="contact">
    <h2>Contact Me</h2>
    <p><a href="https://github.com/Ariel4545"> <I> My github </I> </a></p>
</section>

{% endblock %}