body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container {
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

header, section, footer {
    margin-bottom: 20px;
}

header {
    text-align: center;
}

ol, ul {
    list-style-position: inside; /* Ensures the bullet points or numbers are included in the centering */
    text-align: center; /* Aligns text to the left within the centered list */
    padding: 0; /* Removes default padding */
    margin: 0 auto; /* Centers the list with automatic horizontal margins */
    max-width: 600px; /* You can adjust this width as necessary */
}

li {
    margin: 5px 0; /* Adds a little space between list items */
}

h1, h2 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    text-align: center;
}

a {
    color: #1a0dab;
    text-align: center;
}
