<!doctype html>
<html lang="en">
<head>
  <style>
  table, th, td {
border: 1px solid black;
  border-collapse: collapse;
}
</style>
  <meta charset="utf-8">
  <title>Home - Egon</title>
  <meta name="description" content="Egon is my project for python programs">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Welcome to the {{product_name}} projects </h1>
  <h2><u> about Egon </u></h2>
  <p> Egon is a software products that I created on my free time to learn python <br>
      I made that Egon have a pretty nice products to a 16 y.o kiddo <br>
      I'm updating the Egon products when I have free time</p>

  <table>

    <caption><h2> Egon projects:</h2></caption>
  <tr>
    <th>Project name</th>
    <th>alpha</th>
    <th>beta</th>
    <th>ready for use</th>
  </tr>
  <tr>
    <td>Egon text Editor</td>
    <td> ❌</td>
    <td>❌</td>
    <td> ✔</td>
  </tr>
  <tr>
    <td>Egon calculators</td>
    <td>❌</td>
    <td>✔</td>
    <td>❌</td>
  </tr>
     <tr>
    <td>Egon NumpyGui</td>
    <td>❌</td>
    <td>✔</td>
    <td>❌</td>
  </tr>
         <tr>
    <td>Egon PandasGui</td>
    <td>✔</td>
    <td>❌ </td>
    <td>❌</td>
      </tr>
    <tr>
    <td>Egon graph maker</td>
    <td>❌</td>
    <td>✔</td>
    <td>❌</td>
  </tr>
</table>
  <hr>
  <a href="https://github.com/Ariel4545"> <I> My github </I> </a>
  <script src="js/scripts.js"></script>
</body>
</html>

