<!DOCTYPE html>
<html>
    <head>
        <title> Ariel's projects</title>
        <link rel="icon" type="image/x-icon" href="">
        <meta name="description" content="This website is used to showcase my projects">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head >
    <body>
<p><span style="text-shadow: rgba(136, 136, 136, 0.8) 3px 3px 3px; font-size: 36px;">Ariel&apos;s projects:</span></p>
<p><u><span style="font-size: 20px; font-family: Comic Sans MS, sans-serif;">Available on GitHub</span></u></p>
<ol>
    <li><a href="https://github.com/Ariel4545/text_editor" target="_blank" rel="noopener noreferrer">Egon text editor</a><sup>v1.12</sup></li>
    <li><a href="https://github.com/Ariel4545/Edata_science" target="_blank" rel="noopener noreferrer">Egon data science</a><sup>v0.24</sup></li>
    <ul type="square">
        <li>PandasGui</li>
        <li>NumpyGui</li>
        <li>Egon data visualization</li>
      </ul>
    <li><a href="https://github.com/Ariel4545/Ecalculators" target="_blank" rel="noopener noreferrer">Egon calculators</a><sup>v0.6</sup></li>
    <li><a href="https://github.com/Ariel4545/minecraft_clone" target="_blank" rel="noopener noreferrer">Minecraft clone</a><sup>v0.1</sup></li>
</ol>
<p><u><span style="font-size: 20px; font-family: Comic Sans MS, sans-serif;">Will maybe come some day</span></u></p>
<ol>
    <li style="color: rgb(97, 189, 109);"><span style="font-size: 16px;">Image editor</span></li>
    <li style="color: rgb(235, 107, 86);"><span style="font-size: 16px;">Tower defence game</span></li>
    <li style="color: rgb(97, 189, 109);">Screen recorder</li>
    <li style="color: rgb(251, 160, 38);">Auto clicker</li>
    <li class="Please set custom CSS styles in Settings" style="color: rgb(251, 160, 38);">Discord bot</li>
</ol>
<p>(colors used to display the probability of the projects to come to light)</p>
    </body>
<hr>
<h2><u>What is the "Egon" thing?</u></h2>
  <p> Egon is my brand of a software products that I created <br>
      on my free time to learn python and take my skills further <br>
      with time I made sure that Egon have a pretty nice products for circumstances that I'm delt with <br>
      and I'm updating the Egon products when I have free time (: </p>
<hr>
<a href="https://github.com/Ariel4545"> <I> My github </I> </a>
