<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  .icon {
    background: url('C:\Users\arino\Downloads\EgonLOGO.png');
    height: 20px;
    width: 20px;
    display: block;
    }
       <link rel="icon" type="image/x-icon" href="C:\Users\arino\Downloads\EgonLOGO.png">
    <meta charset="UTF-8">
    <title>{{product_name}}</title>
</head>
<body>
<h1> welcome to {{product_name}} page!</h1>
<p> {{product_name}} is a {{pt}} made with python and tkinter.</p>
</body>
</html>
